<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>519329517957-6m2cti1a1tdd8t71djlf9g10piplvnu9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519329517957-6m2cti1a1tdd8t71djlf9g10piplvnu9</string>
	<key>API_KEY</key>
	<string>AIzaSyDGTR_rWz8U7M2-W54BmIy6gEKJ-nmdBEs</string>
	<key>GCM_SENDER_ID</key>
	<string>519329517957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.streamertail.sixwinks</string>
	<key>PROJECT_ID</key>
	<string>winks-5144c</string>
	<key>STORAGE_BUCKET</key>
	<string>winks-5144c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:519329517957:ios:469aa4da4491b2b6</string>
	<key>DATABASE_URL</key>
	<string>https://winks-5144c.firebaseio.com</string>
</dict>
</plist>